YOMO_SFN_RUNTIME=node
YOMO_SFN_NAME=node-tool-autosend
YOMO_SFN_ZIPPER=zipper.vivgrid.com:9000
YOMO_SFN_CREDENTIAL=viv-xxxxxxxx

AUTOSEND_API_KEY=AS_xxxxxxx
AUTOSEND_FROM_EMAIL=no-reply@example.com
AUTOSEND_FROM_NAME=Sam Altman
AUTOSEND_REPLY_TO_EMAIL=hi@example.com
AUTOSEND_REPLY_TO_NAME=Support Team

